/****************************************************************

GLOBAL

****************************************************************/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased; 
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/****************************************************************

HEADER

****************************************************************/

nav {
  height: 110px;
  max-width: 1200px;
  margin: 5px auto;
}


h1 {
  color: transparent;
  background: url('../img/cb_logo@2x.png') no-repeat;
  background-size: 231px 31px;
  max-width: 100%;
  height: 31px;
  float: left;
  text-decoration: none;
  margin-left: 10px;
}

.contact {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 0.8em 2.2em;
  background-color: #f8f8f8;
  color: #003068;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 0.8em;
  text-decoration: none;
  letter-spacing: 1.8px;
  float: right;
  text-decoration: none;
}

.contact:hover {
  background-color: #fff; 
}

.header-wrap {
  text-align: center;
}

.header-wrap h2 {
  font-size: 2.4em;
  color: #565656;
  font-weight: 600;
  margin-bottom: 0;
}

.upper-mac {
  background-size: 1100px 623px;
  max-height: 623px;
  margin-bottom: 80px;
}

/****************************************************************

SECTIONS ONE, THREE AND SIX

****************************************************************/

.impact, .metrics, .social {
  width: 100%;
  height: 100%;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
}

.impact, .metrics {
  background-color: #f6f6f6;
}

.impact-wrap, .metrics-wrap, .social-wrap {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.impact-wrap, .metrics-wrap {
  padding-top: 3%;
  padding-bottom: 3%;
}

.overview-impact, .overview-metrics, .overview-social {
  text-align: left;
  align-self: center;
}

.overview-impact, .overview-metrics {
  flex-grow: 1;
  order: -1;
}

.overview-impact h2, .overview-profile h2, .overview-social h2, 
.overview-metrics h2 {
  max-width: 400px;
  font-size: 1.8em;
  color: #424242;
}

.strike {
  text-decoration: line-through;
  opacity: .6;
}

.overview-impact p, .overview-profile p, .overview-metrics p, 
.overview-social p {
  max-width: 495px;
  font-size: 1.1em;
  color: #808080;
  line-height: 30px;
}

.upper-icons, .fb {
  align-self: center;
}

.u-icons, .l-icons {
  background-size: 348px 286px;
  max-height: 286px;
}

/****************************************************************

SECTION TWO

****************************************************************/

.cb {
  height: 100%;
  padding-top: 3%;
  padding-bottom: 3.5%;
}

.overview-cb {
  text-align: center;
} 

.browser {
  width: 100%;
  text-align: center;
}

.browser-cb {
  background-size: 866px 659px;
  max-height: 659px; 
}

.overview-cb p {
  margin-bottom: 30px;
}

/****************************************************************

SECTION THREE -- ONLY

****************************************************************/

.social-wrap {
  padding-top: 4%;
  padding-bottom: 3.5%;
}

.fb {
  flex-grow: 1;
  order: -1;
}

.fb-card {
  background-size: 387px 382px;
  max-height: 382px;
}

/****************************************************************

SECTION FOUR

****************************************************************/

@media screen and (min-width: 1199px) {

.profile-wrap {
  position: relative;
}

.overview-profile {
  position: absolute;
  top: 30%;
  right: 4%;
}

.mac-full {
  padding: 5% 2%;
}

.overview-profile h2 {
  max-width: 350px;
}
.overview-profile p {
  max-width: 400px;
}
}



/****************************************************************

SECTION SEVEN

****************************************************************/

.form {
  width: 100%;
  height: 100%;
  padding-top: 3.7%;
  padding-bottom: 3%;
}

.form-wrap {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 10px 5px;
  background: rgb(246,246,246);
  border-radius: 4px;
  border: 1px solid rgb(230,230,230);
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  font-size: 0.9em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgb(230,230,230);
  border-radius: 4px;
  margin-bottom: 15px;
}

fieldset {
  border: none;
}

button {
  padding: 10px 5px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 1.05em;
  letter-spacing: 1.5px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

button:hover {
  opacity: 0.9;
}

/****************************************************************

FOOTER

****************************************************************/

footer {
  height: 100%;
  text-align: center;
  border-top: 1px solid rgb(220,220,220);
}

footer p {
  display: inline-block;
  margin: 10px auto;
  font-size: 0.9em;
  color: rgb(150,150,150);
  text-decoration: none;
}

footer a, a:visited {
  text-decoration: none;
  color: rgb(150,150,150);
}

/**************************************************************** 

DRY

****************************************************************/

h2 {
  font-size: 1.8em;
  color: #424242;
  font-weight: 300;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3em;
  color: #8b8b8b;
  font-weight: 300;
  line-height: 30px; 
  margin-top: 15px;
  margin-bottom: 100px;
}

p {
  font-size: 1.1em;
  color: #808080;
  line-height: 30px;
  font-weight: 300;
}

.group::after {
  content: " ";
  display: table;
  clear: both;
}

/**************************************************************** 

MEDIA QUERIES

****************************************************************/


@media screen and (max-width: 768px) and (min-width: 481px) {

.impact-wrap {
  flex-direction: column;
}
.overview-impact {
  order: 0;
}
}

@media screen and (max-width: 480px) and (min-width: 321px) {


}




@media screen and (min-device-width: 320px) and (max-device-width: 568px) {


        /***********************************

        iPhone 5

        ************************************/



}




@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6

        ************************************/

.contact {
  display: none;
}

h1 {
  margin-top: 11%;
  margin-left: 19%;
}

.header-wrap h2 {
  font-size: 2.4em;
}

h2 {
  line-height: 1.3;
}
h2, p {
  text-align: center;
}

.overview-impact p, .overview-cb p, .overview-social p, .overview-metrics p, .overview-profile p {
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.6;
}
h3 {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 85px;
  font-size: 1.3em;
  line-height: 1.6;
}

nav a {
  text-decoration: none;
}

.impact-wrap, .social-wrap, .metrics-wrap {
  flex-direction: column;
}

.fb {
  order: 0;
}

.u-icons {
  margin-left: 22px;
}

.l-icons {
  margin-left: 8px;
}

.fb-card {
  margin-left: 8px;
}

.impact-wrap, .metrics-wrap {
  padding-top: 10%;
  padding-bottom: 10%;

}

.cb-wrap, .social-wrap {
  padding-top: 9%;
  padding-bottom: 12%;
}


.profile-wrap {
  position: initial;
}

.profile-wrap {
  padding-top: 10%;
  padding-bottom: 15%;
}
.mac-full {
  margin-top: 45px;
}
.overview-profile h2, .overview-metrics h2 {
  margin-left: 50px;
  margin-right: 50px;
}

.lower-icons {
  margin-left: 10px;
}

.form {
  padding-top: 10%;
  padding-bottom: 7%;
}

footer p {
  font-size: 1em;
}
}



@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
 
        /***********************************

        iPhone 6 Plus Portrait

        ************************************/

h1 {
  margin-top: 11%;
  margin-left: 22%;
}

h3 {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 85px;
  font-size: 1.3em;
  line-height: 1.4;
}
.overview-impact h2 {
  margin-left: 8px;
}

.impact-wrap, .social-wrap, .metrics-wrap {
  flex-direction: column;
}

.fb {
  order: 0;
}

.u-icons {
  margin-left: 34px;
}

.l-icons {
  margin-left: 20px;
}

.fb-card {
  margin-left: 16px;
}


.overview-impact p, .overview-cb p, .overview-social p, .overview-metrics p, .overview-profile p {
  font-size: 1.3em;
  margin-left: 33px;
  margin-right: 33px;
  line-height: 1.6;
}

footer p {
  font-size: 1.1em;
}

}





@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6 Plus Landscape

        ************************************/




}





